[submodule "apps/auth-service"]
	path = apps/auth-service
	url = git@github-me:minhle106cse/distributed-social-platform_auth-service
[submodule "apps/core-api"]
	path = apps/core-api
	url = git@github-me:minhle106cse/distributed-social-platform_core-api.git
